# Ignore files with sensitive information
backend.tf

# Ignore generated RDP files
*.rdp

# Ignore temporary files
tmp*.*
*.*_
*.log

# Ignore Certificates
certificates/*.*
*.cer
*.der
*.p12
*.pem
*.pfx

# Ignore VPN Profiles
profiles/*.*
