admin_username                 = "user"
dns_zone_id                    = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shared/providers/Microsoft.Network/dnszones/vanify.tld"
git_email                      = "john@doe.com"
git_name                       = "John Doe"
log_analytics_workspace_id     = "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/shared/providers/microsoft.operationalinsights/workspaces/loganalytics"
linux_os_offer                 = "UbuntuServer"
linux_os_publisher             = "Canonical"
linux_os_sku                   = "18.04-LTS"
linux_os_version               = "18.04.202012111"
locations                      = ["westeurope","northeurope"]
windows_sku_match              = "20h2-ent-g2"
windows_os_version             = "19042.685.2012032244"

