admin_username                 = "user"
dns_zone_id                    = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shared/providers/Microsoft.Network/dnszones/vanify.tld"
git_email                      = "john@doe.com"
git_name                       = "John Doe"
log_analytics_workspace_id     = "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/shared/providers/microsoft.operationalinsights/workspaces/loganalytics"